<script src="./../../assets/js/script.js"></script>
<script src="https://kit.fontawesome.com/ee9e2feb15.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/embla-carousel/embla-carousel.umd.js"></script>


<script>
  const wraps = document.querySelectorAll(".slider");
  wraps.forEach(wrap => {
    const viewPort = wrap.querySelector(".slider__viewport");
    const embla = EmblaCarousel(viewPort, {
      '(max-width: 425px)': { skipSnaps: false },
      '(min-width: 768px)': { loop: false }
      
    });
  });

  const appHeight = () => {
    const vh = window.innerHeight * 0.01;
    document.documentElement.style.setProperty('--vh', `${vh}px`);
  }
  window.addEventListener('resize', appHeight)
  appHeight()
</script>
</body>

</html>