<head>
    <%- include('../partials/head'); %>
</head>
<div class="appBarContainer">
<nav class="appBar">
    <div class="icon">
        <a href="/">
        <i class="fa-solid fa-house fa-xl"></i>
        </a>
    </div>
    <div class="icon">
        <a href="/liked">
        <i class="fa-sharp fa-solid fa-heart fa-xl"></i>
        </a>
    </div>
    <div class="icon">
        <a href="/cart">
        <i class="fa-solid fa-cart-shopping fa-xl"></i>

        </a>
    </div>
    <div class="icon">
        <a href="/user">
        <i class="fa-solid fa-user fa-xl"></i>
        </a>
    </div>
  </nav>
</div>