$font-text: 'Hind', sans-serif;
$font-textSize: 16px;
$font-title: 'Montserrat', sans-serif;
$font-titleSize: 24px;
$backgroundCard: #FFFFFF;
$primary-color:#FDFFF8;
$secondary-color:#96D6A4;
$box-shadow-color:grey;
$third-color:#62d47a;
