.main {
    padding: 50px 15px 150px;

    &_head {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .icon-logout {
            transform: rotate(-180deg);
        }

        img {
            width: 110px;
        }
    }

    &_search {
        padding-top: 15px;

        .search-wrapper {
            border-radius: 8px;
            background-color: #fff;
            height: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            max-width: 480px;
            box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.3);
            overflow: hidden;

            svg {
                padding-left: 12px;
            }

            .search-input {
                border: none;
                flex: 1;
                outline: none;
                height: 100%;
                padding: 0 20px;
                font-size: 16px;
                background-color: #fff;
                color: #000;

                &:placeholder {
                    color: #000;
                    opacity: .6;
                }
            }
        }
    }
}


.main_section_plants {
    margin-bottom: 50px;

    &_all,
    &_Indoor,
    &_Outdoor {
        height: 100%;
        margin-top: 50px;
    }

    .slider {
        position: relative;
        margin-top: 20px;
        max-width: 670px;
        height: 350px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;

        &__viewport {
            overflow: hidden;
            width: 100%;
            height: 100%;
        }

        &__viewport.is-draggable {
            cursor: move;
            cursor: grab;
        }

        &__viewport.is-dragging {
            cursor: grabbing;
        }

        &__container {
            height: 100%;
            display: flex;
            align-items: center;
            user-select: none;
            -webkit-touch-callout: none;
            -khtml-user-select: none;
            -webkit-tap-highlight-color: transparent;
        }

        &__slide {
            position: relative;
            height: 95%;
            min-width: 95%;
            margin-right: 10px;
            // overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 20px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            background: #fff;
            
            .card {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;
                width: 100%;
                padding: 15px;
                box-sizing: border-box;


                &_content {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    flex-direction: row;
                    position: relative;

                    .info {
                        width: 50%;

                        h2 {
                            margin-bottom: 20px;
                        }

                        p {
                            font-size: 12px;
                        }
                    }

                    .img {
                        height: 250px;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                &_cta {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    // justify-content: space-between;

                    .rate {
                        flex-grow: 1;
                        .rating {
                            display: flex;
                            justify-content: flex-end;
                            flex-direction: row-reverse;
                            overflow: hidden;
                            position: relative;

                            .rating-0 {
                                filter: grayscale(100%);
                            }

                            &>input {
                                display: none;
                            }

                            &>label {
                                cursor: pointer;
                                width: 30px;
                                height: 30px;
                                margin-top: auto;
                                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: 76%;
                                transition: .3s;
                            }

                            &>input:checked~label,
                            &>input:checked~label~label {
                                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
                            }

                            &>input:not(:checked)~label:hover,
                            &>input:not(:checked)~label:hover~label {
                                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
                            }
                        }
                    }

                    .cart {
                        display: flex;
                        align-items: center;
                        gap: 20px;

                        svg {
                            width: 22px;
                        }

                        button {
                            width: 100px;
                        }
                    }
                }
            }
        }
    }
}