<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main class="main main_cart">
    <div class="main_head">
        <div class="icon-logout">
            <a href="/login">
                <i class="fa-solid fa-arrow-right-from-bracket fa-xl"></i>
            </a>
        </div>
        <a href="/">
            <img src="/img/logo.png" alt="">
        </a>
        <div class="icon-hopital">
            <i class="fa-sharp fa-solid fa-user-nurse fa-xl"></i>
        </div>
    </div>

    <section class="main_cart_section">
        test
    </section>

    
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>