<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main class="main main_cart">
    <div class="main_head">
        <div class="icon-logout">
            <a href="/login">
                <i class="fa-solid fa-arrow-right-from-bracket fa-xl"></i>
            </a>
        </div>
        <a href="/">
            <img src="/img/logo.png" alt="">
        </a>
        <div class="icon-hopital">
            <i class="fa-sharp fa-solid fa-user-nurse fa-xl"></i>
        </div>
    </div>

    <section class="main_cart_section">
        <h2>Your cart</h2>
        <div class="main_cart_section_container">
            <div class="items_container">
                <div class="item">
                    <div class="img">
                        <img src="/img/pngegg_2.png" alt="">
                    </div>
                    <div class="infos">
                        <div class="name">
                            <h3>Nom de la plante</h3>
                            <p>Lorem ipsum dolor sit amet</p>
                        </div>
                        <div class="price">
                            <p>100€</p>
                        </div>
                    </div>
                    <div class="cta">
                        <button><span>&#43;</span></button>
                        <button><span>1</span></button>
                        <button><span>&#45;</span></button>
                    </div>
                </div>
                <div class="item">
                    <div class="img">
                        <img src="/img/pngegg_5.png" alt="">
                    </div>
                    <div class="infos">
                        <div class="name">
                            <h3>Nom de la plante</h3>
                            <p>Lorem ipsum dolor sit amet</p>
                        </div>
                        <div class="price">
                            <p>40€</p>
                        </div>
                    </div>
                    <div class="cta">
                        <button><span>&#43;</span></button>
                        <button><span>1</span></button>
                        <button><span>&#45;</span></button>
                    </div>
                </div>
            </div>
            <div class="subtotal">
                <p>2 Items</p>
                <p>Total:<span>140&euro;</span></p>
            </div>
            <div class="confirm-order">
                <button>
                    <i style="margin-right: 10px;"class="fa-sharp fa-solid fa-cart-shopping"></i>
                    <span>Order Now</span>
                </button>
            </div>
        </div>
    </section>

    
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>