<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="main_head">
        <div class="icon-logout">
            <a href="/login">
            <i class="fa-solid fa-arrow-right-from-bracket fa-xl"></i>
            </a>
        </div>
        <a href="/">
            <img src="img/logo.png" alt="">
        </a>
        <div class="icon-hopital">
            <i class="fa-sharp fa-solid fa-user-nurse fa-xl"></i>
        </div>
    </div>
    <div class="containerAccordion">
    <div class="list">
        <input type="checkbox" id="switch" class="switch">
        <div class="nav">
          <span>Profile Info</span>
          <label for="switch">
            <i class="fas fa-angle-down"></i>
          </label>
        </div>
        <div class="form-list">
            <form method="post">
                <div class="txt_field_list">
                  <input type="text" required />
                  <span></span>
                  <label>Username</label>
                </div>
                <div class="txt_field_list">
                  <input type="password" required />
                  <span></span>
                  <label>Lastname</label>
                </div>
                <div class="txt_field_list">
                  <input type="text" required />
                  <span></span>
                  <label>Firstname</label>
                </div>
                <div class="txt_field_list">
                  <input type="password" required />
                  <span></span>
                  <label>Email</label>
                </div>
            </form>
        </div>
        <div class="list">
          <input type="checkbox" id="switch2" class="switch2">
          <div class="nav">
            <span>Payment & Card</span>
            <label for="switch2">
              <i class="fas fa-angle-down"></i>
            </label>
          </div>
          <div class="form-list">
              <form method="post">
                  <div class="txt_field_list_round">
                      <input type="checkbox" id="checkbox" />
                      <label for="checkbox"></label>
                      <p class="text_label">Card</p>
                  </div>
                  <div class="txt_field_list">
                    <input type="text" required />
                    <span></span>
                    <label>Card number</label>
                  </div>
                  <div class="txt_field_list">
                    <input type="password" required />
                    <span></span>
                    <label>Expiration Date</label>
                  </div>
                  <div class="txt_field_list">
                    <input type="password" required />
                    <span></span>
                    <label>CVV</label>
                  </div>
              </form>
          </div>
          <div class="list">
            <input type="checkbox" id="switch3" class="switch">
            <div class="nav">
              <span>Password & security</span>
              <label for="switch3">
                <i class="fas fa-angle-down"></i>
              </label>
            </div>
            <div class="form-list">
                <form method="post">
                    <div class="txt_field_list">
                      <input type="text" required />
                      <span></span>
                      <label>Password</label>
                    </div>
                    <div class="txt_field_list">
                      <input type="password" required />
                      <span></span>
                      <label>Confirm password</label>
                    </div>
                </form>
            </div>
    </div>
    </div>
    </div>
    <div>
    <form method="post" action="/user">
      <input type="text" name="name">
      <input type="text" name="description">
      <input type="submit" value="Submit">
  </form>
  <% user.plants.forEach(plant => { %>
    <h2><%= plant?.name %></h2>
    <% }) %> 
  </div> 
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>