<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="main_head">
        <div class="icon-logout">
            <a href="/login">
            <i class="fa-solid fa-arrow-right-from-bracket fa-xl"></i>
            </a>
        </div>
        <a href="/">
            <img src="img/logo.png" alt="">
        </a>
        <div class="icon-hopital">
            <i class="fa-sharp fa-solid fa-user-nurse fa-xl"></i>
        </div>
    </div>

    <h2 class="title_user_page">Your profile</h2>
    <div class="containerAccordion">
    <div class="list">
        <input type="checkbox" id="switch" class="switch">
        <div class="nav">
          <span>Profile Info</span>
          <label for="switch">
            <i class="fas fa-angle-down"></i>
          </label>
        </div>
        <div class="form-list">
            <form method="post">
                <div class="txt_field_list">
                  <input type="text" required />
                  <span></span>
                  <label>Username</label>
                </div>
                <div class="txt_field_list">
                  <input type="password" required />
                  <span></span>
                  <label>Lastname</label>
                </div>
                <div class="txt_field_list">
                  <input type="text" required />
                  <span></span>
                  <label>Firstname</label>
                </div>
                <div class="txt_field_list">
                  <input type="password" required />
                  <span></span>
                  <label>Email</label>
                </div>
            </form>
        </div>
        <div class="list">
          <input type="checkbox" id="switch2" class="switch2">
          <div class="nav">
            <span>Payment & Card</span>
            <label for="switch2">
              <i class="fas fa-angle-down"></i>
            </label>
          </div>
          <div class="form-list">
              <form method="post">
                  <div class="txt_field_list">
                    <input type="text" required />
                    <span></span>
                    <label>Card number</label>
                  </div>
                  <div class="txt_field_list">
                    <input type="password" required />
                    <span></span>
                    <label>Expiration Date</label>
                  </div>
                  <div class="txt_field_list">
                    <input type="password" required />
                    <span></span>
                    <label>CVV</label>
                  </div>
              </form>
          </div>
          <button class="btn-save">Save Information</button>
    </div>


    <div class="suggest">
      <h2 class="suggest_title">Your plants</h2>
      <div class="slider">
          <div class="slider__viewport">
              <div class="slider__container">
                  <div class="slider__slide">
                      <div class="slider__card">
                          <div class="slider__card_content">
                              <div class="info">
                                  <h2>Nom de votre plante</h2>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget magna
                                      gravida, consequat massa
                                      eu, porta libero.</p>
                              </div>
                              <div class="img">
                                  <img src="/img/pngegg.png" alt="">
                              </div>
                          </div>
                          <div class="slider__card_cta">
                              <div class="rate">
                                  <div class="rating">
                                      <input type="radio" name="rating" id="rating-5">
                                      <label for="rating-5"></label>
                                      <input type="radio" name="rating" id="rating-4">
                                      <label for="rating-4"></label>
                                      <input type="radio" name="rating" id="rating-3">
                                      <label for="rating-3"></label>
                                      <input type="radio" name="rating" id="rating-2">
                                      <label for="rating-2"></label>
                                      <input type="radio" name="rating" id="rating-1">
                                      <label for="rating-1"></label>
                                  </div>
                              </div>
                              <div class="cart">
                                  <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                      xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                      viewBox="0 0 471.701 471.701"
                                      style="enable-background:new 0 0 471.701 471.701;" xml:space="preserve">
                                      <g>
                                          <path d="M433.601,67.001c-24.7-24.7-57.4-38.2-92.3-38.2s-67.7,13.6-92.4,38.3l-12.9,12.9l-13.1-13.1
                      c-24.7-24.7-57.6-38.4-92.5-38.4c-34.8,0-67.6,13.6-92.2,38.2c-24.7,24.7-38.3,57.5-38.2,92.4c0,34.9,13.7,67.6,38.4,92.3
                      l187.8,187.8c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-3.9l188.2-187.5c24.7-24.7,38.3-57.5,38.3-92.4
                      C471.801,124.501,458.301,91.701,433.601,67.001z M414.401,232.701l-178.7,178l-178.3-178.3c-19.6-19.6-30.4-45.6-30.4-73.3
                      s10.7-53.7,30.3-73.2c19.5-19.5,45.5-30.3,73.1-30.3c27.7,0,53.8,10.8,73.4,30.4l22.6,22.6c5.3,5.3,13.8,5.3,19.1,0l22.4-22.4
                      c19.6-19.6,45.7-30.4,73.3-30.4c27.6,0,53.6,10.8,73.2,30.3c19.6,19.6,30.3,45.6,30.3,73.3
                      C444.801,187.101,434.001,213.101,414.401,232.701z" />
                                      </g>
                                  </svg>
                                  <button>See more</button>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="slider__slide">
                      <div class="slider__card">
                          <div class="slider__card_content">
                              <div class="info">
                                  <h2>Nom de la plante</h2>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget magna
                                      gravida, consequat massa
                                      eu, porta libero.</p>
                              </div>
                              <div class="img">
                                  <img src="/img/pngegg.png" alt="">
                              </div>
                          </div>
                          <div class="slider__card_cta">
                              <div class="rate">
                                  <div class="rating">
                                      <input type="radio" name="rating" id="rating-5">
                                      <label for="rating-5"></label>
                                      <input type="radio" name="rating" id="rating-4">
                                      <label for="rating-4"></label>
                                      <input type="radio" name="rating" id="rating-3">
                                      <label for="rating-3"></label>
                                      <input type="radio" name="rating" id="rating-2">
                                      <label for="rating-2"></label>
                                      <input type="radio" name="rating" id="rating-1">
                                      <label for="rating-1"></label>
                                  </div>
                              </div>
                              <div class="cart">
                                  <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                      xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                      viewBox="0 0 471.701 471.701"
                                      style="enable-background:new 0 0 471.701 471.701;" xml:space="preserve">
                                      <g>
                                          <path d="M433.601,67.001c-24.7-24.7-57.4-38.2-92.3-38.2s-67.7,13.6-92.4,38.3l-12.9,12.9l-13.1-13.1
                      c-24.7-24.7-57.6-38.4-92.5-38.4c-34.8,0-67.6,13.6-92.2,38.2c-24.7,24.7-38.3,57.5-38.2,92.4c0,34.9,13.7,67.6,38.4,92.3
                      l187.8,187.8c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-3.9l188.2-187.5c24.7-24.7,38.3-57.5,38.3-92.4
                      C471.801,124.501,458.301,91.701,433.601,67.001z M414.401,232.701l-178.7,178l-178.3-178.3c-19.6-19.6-30.4-45.6-30.4-73.3
                      s10.7-53.7,30.3-73.2c19.5-19.5,45.5-30.3,73.1-30.3c27.7,0,53.8,10.8,73.4,30.4l22.6,22.6c5.3,5.3,13.8,5.3,19.1,0l22.4-22.4
                      c19.6-19.6,45.7-30.4,73.3-30.4c27.6,0,53.6,10.8,73.2,30.3c19.6,19.6,30.3,45.6,30.3,73.3
                      C444.801,187.101,434.001,213.101,414.401,232.701z" />
                                      </g>
                                  </svg>
                                  <button>See more</button>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="slider__slide">
                      <div class="slider__card">
                          <div class="slider__card_content">
                              <div class="info">
                                  <h2>Nom de la plante</h2>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget magna
                                      gravida, consequat massa
                                      eu, porta libero.</p>
                              </div>
                              <div class="img">
                                  <img src="/img/pngegg.png" alt="">
                              </div>
                          </div>
                          <div class="slider__card_cta">
                              <div class="rate">
                                  <div class="rating">
                                      <input type="radio" name="rating" id="rating-5">
                                      <label for="rating-5"></label>
                                      <input type="radio" name="rating" id="rating-4">
                                      <label for="rating-4"></label>
                                      <input type="radio" name="rating" id="rating-3">
                                      <label for="rating-3"></label>
                                      <input type="radio" name="rating" id="rating-2">
                                      <label for="rating-2"></label>
                                      <input type="radio" name="rating" id="rating-1">
                                      <label for="rating-1"></label>
                                  </div>
                              </div>
                              <div class="cart">
                                  <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                      xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                      viewBox="0 0 471.701 471.701"
                                      style="enable-background:new 0 0 471.701 471.701;" xml:space="preserve">
                                      <g>
                                          <path d="M433.601,67.001c-24.7-24.7-57.4-38.2-92.3-38.2s-67.7,13.6-92.4,38.3l-12.9,12.9l-13.1-13.1
                      c-24.7-24.7-57.6-38.4-92.5-38.4c-34.8,0-67.6,13.6-92.2,38.2c-24.7,24.7-38.3,57.5-38.2,92.4c0,34.9,13.7,67.6,38.4,92.3
                      l187.8,187.8c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-3.9l188.2-187.5c24.7-24.7,38.3-57.5,38.3-92.4
                      C471.801,124.501,458.301,91.701,433.601,67.001z M414.401,232.701l-178.7,178l-178.3-178.3c-19.6-19.6-30.4-45.6-30.4-73.3
                      s10.7-53.7,30.3-73.2c19.5-19.5,45.5-30.3,73.1-30.3c27.7,0,53.8,10.8,73.4,30.4l22.6,22.6c5.3,5.3,13.8,5.3,19.1,0l22.4-22.4
                      c19.6-19.6,45.7-30.4,73.3-30.4c27.6,0,53.6,10.8,73.2,30.3c19.6,19.6,30.3,45.6,30.3,73.3
                      C444.801,187.101,434.001,213.101,414.401,232.701z" />
                                      </g>
                                  </svg>
                                  <button>See more</button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

    
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>